# Name: BAR
# Author: Tiago Ferreira
# https://github.com/tferr/Scripts
# http://imagej.net/BAR

BAR>Analysis, "Move Menu (Context<>Main)", bar.Utils("moveMenu:Analysis")
BAR>Annotation, "Move Menu (Context<>Main) ", bar.Utils("moveMenu:Annotation")

BAR>Data Analysis, "Interactive Plotting...", bar.plugin.InteractivePlotter

BAR>Segmentation, "Move Menu (Context<>Main)  ", bar.Utils("moveMenu:Segmentation")
BAR>Segmentation, "Shen-Castan Edge Detector", bar.plugin.ShenCastan

BAR>Utilities, "New Snippet...", bar.plugin.SnippetCreator
