# Name: BAR
# Author: Tiago Ferreira
# https://github.com/tferr/Scripts
# https://fiji.sc/BAR

BAR>Analysis, "Move Menu (Context<>Main)", bar.Utils("moveMenu:Analysis")

BAR>Annotation, "Move Menu (Context<>Main) ", bar.Utils("moveMenu:Annotation")

BAR>Data Analysis, "Move Menu (Context<>Main)  ", bar.Utils("moveMenu:Data Analysis")

BAR>Morphometry, "Move Menu (Context<>Main)   ", bar.Utils("moveMenu:Morphometry")

BAR>Segmentation, "Move Menu (Context<>Main)    ", bar.Utils("moveMenu:Segmentation")
BAR>Segmentation, "-", ""
BAR>Segmentation, "Shen-Castan Edge Detector", bar.plugin.ShenCastan

BAR>Tool Installers, "Install Calibration Menu", bar.Utils("tools:Calibration_Menu.ijm")
BAR>Tool Installers, "Install List Folder Menu", bar.Utils("tools:List_Folder_Menu.ijm")
BAR>Tool Installers, "Install Segment Profile", bar.Utils("tools:Segment_Profile.ijm")
BAR>Tool Installers, "Install Shortcuts Menu", bar.Utils("tools:Shortcuts_Menu.ijm")
BAR>Tool Installers, "-", ""
BAR>Tool Installers, "ROI Manager Tools", bar.Utils("toolsets:ROI Manager Tools.ijm")
BAR>Tool Installers, "Toolset Creator...", bar.Utils("toolsets:Toolset Creator.ijm")
BAR>Tool Installers, "-", ""
BAR>Tool Installers, "Reveal /macros/tools", bar.Utils("tools:reveal")
BAR>Tool Installers, "Reveal /macros/toolsets", bar.Utils("toolsets:reveal")

BAR>"-", ""
BAR>Snippets, "List Snippets", bar.Utils("snippet:list")
BAR>Snippets, "New Snippet...", bar.plugin.SnippetCreator
BAR>Snippets, "Reveal /Snippets", bar.Utils("snippet:reveal")

BAR>lib, "lib Help", ij.plugin.BrowserLauncher("https://github.com/tferr/Scripts/tree/master/lib#lib")
BAR>lib, "Reveal /lib", bar.Utils("lib:reveal")
BAR>"-", ""

BAR, "BAR Commander", bar.plugin.Commander

BAR, "About BAR...", bar.Utils("about")
