# Name: BAR
# Author: Tiago Ferreira
# https://github.com/tferr/Scripts
# https://fiji.sc/BAR

BAR>Annotation, "Move Menu (Context<>Main)", bar.Utils("moveMenu:Annotation")

BAR>Data Analysis, "Move Menu (Context<>Main) ", bar.Utils("moveMenu:Data Analysis")

BAR>Morphometry, "Move Menu (Context<>Main)  ", bar.Utils("moveMenu:Morphometry")

BAR>Segmentation, "Move Menu (Context<>Main)   ", bar.Utils("moveMenu:Segmentation")
BAR>Segmentation, "-", ""
BAR>Segmentation, "Shen-Castan Edge Detector", bar.ShenCastan

BAR>Snippets, "List Snippets", bar.Utils("snippet:list")
BAR>Snippets, "Reveal Snippets", bar.Utils("snippet:reveal")

BAR>Tool Installers, "Install Calibration Menu", bar.Utils("Calibration_Menu.ijm")
BAR>Tool Installers, "Install Segment Profile", bar.Utils("Segment_Profile.ijm")
BAR>Tool Installers, "Install Shortcuts Menu", bar.Utils("Shortcuts_Menu.ijm")
BAR>Tool Installers, "-", ""
BAR>Tool Installers, "ROI Manager Tools", bar.Utils("ROI Manager Tools.ijm")
BAR>Tool Installers, "Toolset Creator...", bar.Utils("Toolset Creator.ijm")

BAR, "About BAR...", bar.Utils("about")
